body{
    background-color: rgb(59, 9, 47)
}

header{
    background-color: rgb(255, 164, 192);
    height: 200px;
    text-align: center;
    
}

nav{
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul { margin: 0; }

li, a{
    color: white;
    display: inline-block;
    text-decoration: none;
}



.card{
    margin: auto;
}